# Kopieren nach ".env" und bei Bedarf anpassen. ".env" selbst wird nicht eingecheckt.
MODEL_NAME=hf.co/Qwen/Qwen2.5-Coder-7B-Instruct-GGUF:Q3_K_M

# Funktionierende Modelle:
# Qwen2.5 coder 7B instruct Q3
# hf.co/Qwen/Qwen2.5-Coder-7B-Instruct-GGUF:Q3_K_M

# Qwen2.5 7B Instruct Q4
# hf.co/Qwen/Qwen2.5-7B-Instruct-GGUF:Q4_K_M